<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Express & EJS Forms</title>
	</head>
	<body>
		<h1><%= title %></h1>

		<ul>
			<% for (item in items ) { %>
			<li><%= item %> <% } %></li>
		</ul>
	</body>
</html>
